body {
  header {
    position: fixed;
    // background-color: white;
    height: 5vh;
    width: 100%;
    margin-top: 6vh;
    i {
      font-size: 80px;
      margin-left: 3vw;
    }
  }
  main {
    // grid-template-columns: 28.5fr 1fr 1fr 1fr;
    display: flex;

    .section__main {
      width: 91%;
      margin-top: 14vh;
      h1 {
        margin-top: 14vh;
        margin-left: 3vw;
        width: 52vw;
        // font-family: ogg, sans-serif;
        font-family: "EB Garamond", serif;
        font-size: 75px;
      }
      .picture {
        margin-top: 15vh;
        background-image: url("https://source.unsplash.com/featured/?house");
        background-size: cover;
        height: 100vh;
      }
      .markets {
        display: flex;
        justify-content: space-around;
        .article__market {
          width: 30%;
          .picture__market {
            margin-top: 15vh;
            background-image: url("https://source.unsplash.com/featured/?market");
            background-size: cover;
            height: 64vh;
          }
          p {
            margin-top: 3vh;
            font-family: apercu mono, sans-serif;
            font-size: 18px;
          }
        }
      }
    }
    .menu {
      display: flex;
      justify-content: center;
      // align-items: center;
      &:hover {
        cursor: pointer;
      }
      p {
        font-family: "Zilla Slab", serif;
        // font-family: apercu mono, sans-serif;
        font-size: 20px;
        &:nth-of-type(1) {
          margin-top: 10vh;
          position: absolute;
        }
        &:nth-of-type(2) {
          transform: rotate(0.25turn);
          align-self: center;
        }
      }
    }
    .section__Food {
      margin-left: 91%;
      position: fixed;
      width: 3%;
      height: 100vh;
      background-color: #5fa3ec;
    }
    .section__Retail {
      margin-left: 94%;
      position: fixed;
      width: 3%;
      height: 100vh;
      background-color: #f64444;
    }
    .section__Community {
      margin-left: 97%;
      position: fixed;
      width: 3%;
      height: 100vh;
      background-color: #ffb400;
    }
  }
}
